<div class="border border-[#383838] hover:bg-white transition-all duration-300 rounded-full p-3 group cursor-pointer">
  <svg viewBox="3.9 6.5 11.6 9" width="24" height="24">
    <g class="">
      <rect
        x="4"
        y="6.5"
        width="12"
        height="10"
        fill="transparent"
        stroke="none"
        pointer-events="all"></rect>
      <line
        x1="7"
        y1="15.5"
        x2="8.5"
        y2="6.5"
        class="stroke-setter group-hover:-translate-x-[0.9px]"></line>
      <line
        x1="11"
        y1="15.5"
        x2="12.5"
        y2="6.5"
        class="stroke-setter group-hover:translate-x-[0.9px]"></line>
      <line
        x1="4.4"
        y1="13"
        x2="15"
        y2="13"
        class="stroke-setter group-hover:translate-y-[0.9px]"></line>
      <line
        x1="4.5"
        y1="9"
        x2="15"
        y2="9"
        class="stroke-setter group-hover:-translate-y-[0.9px]"></line>
    </g>
  </svg>
</div>

<style>
  .stroke-setter {
    stroke: #ccc;
    stroke-width: 1;
    stroke-linecap: round;
    transition: all 0.3s;
  }

  .group:hover .stroke-setter {
    stroke: #000;
  }
</style>
