---
import Mirrow from "./svgs/Mirrow.astro";
import Hashtag from "./svgs/Hashtag.astro";
import XLogo from "./svgs/xLogo.astro";
import Bluesky from "./svgs/Bluesky.astro";
import Mastodon from "./svgs/Mastodon.astro";

const components = [
  { Component: XLogo, href: "https://x.com/mirrow_app" },
  { Component: Bluesky, href: "https://bsky.app/profile/mirrow.app" },
  { Component: Mastodon, href: "https://techhub.social/@mirrow" },
];

const year = new Date().getFullYear();
---

<footer class="max-w-3xl w-full mx-auto md:my-12 flex-1">
  <div
    class="border border-[#383838] bg-black rounded-3xl p-4 md:p-5 shadow-sm"
  >
    <div
      class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between"
    >
      <div class="flex gap-4 my-auto mr-auto">
        {
          components.map(({ Component, href }) => (
            <a
              href={href}
              target="_blank"
              class="hover:fill-white hover:-translate-y-0.5 fill-[#aaa] my-auto transition-all duration-300"
            >
              <Component />
            </a>
          ))
        }
      </div>

      <nav
        class="flex items-center mx-auto sm:mx-0 gap-4 text-sm text-slate-400"
      >
        <a href="/privacy-terms" class="hover:text-white transition-colors"
          >Privacy</a
        >
        <span class="opacity-40">·</span>
        <a href="/privacy-terms" class="hover:text-white transition-colors"
          >Terms</a
        >
        <span class="opacity-40">·</span>
        <a
          href="https://github.com/MirrowApp"
          target="_blank"
          class="hover:text-white transition-colors flex items-center gap-1"
        >
          <span>GitHub</span>
        </a>
      </nav>
    </div>

    <div class="mt-3 mx-auto text-xs text-slate-500 text-center">
      © {year} Mirrow. All rights reserved.
    </div>
  </div>
</footer>
