---
import Mirrow from "./svgs/Mirrow.astro";
import XLogo from "./svgs/xLogo.astro";
import Bluesky from "./svgs/Bluesky.astro";
import Github from "./svgs/Github.astro";

const components = [
  { Component: XLogo, href: "https://x.com/mirrow_app" },
  { Component: Bluesky, href: "https://bsky.app/profile/mirrow.app" },
  { Component: Github, href: "https://github.com/MirrowApp" },
];
---

<div
  class="border-[#383838] z-10 sticky backdrop-blur-sm bg-black/50 top-4 left-0 right-0 border p-3 rounded-full w-full flex justify-between max-w-3xl mx-auto my-8"
>
  <div class="flex gap-4 w-full">
    <a href="/" class="flex gap-4">
      <span class="my-auto"><Mirrow /></span>

      <p
        class="text-2xl font-black font-inter my-auto chroma-text chrome-text-animation"
      >
        mirrow
      </p>
    </a>
    <div class="flex gap-4 my-auto ml-auto">
      {
        components.map(({ Component, href }) => (
          <a
            href={href}
            target="_blank"
            class="hover:fill-white hover:-translate-y-0.5 fill-[#aaa] my-auto transition-all duration-300"
          >
            <Component />
          </a>
        ))
      }
    </div>
  </div>
</div>

<style>
  @keyframes chroma-text-animation {
    0% {
      background-position: 100% 0;
      filter: blur(1px);
    }
    100% {
      background-position: 0 0;
      filter: blur(0px);
    }
  }

  .chroma-text {
    background: linear-gradient(
      90deg,
      #fff 0,
      #fff 50.33%,
      #c679c4 40%,
      #fa3d1d 45%,
      #ffb005 50%,
      #e1e1fe 55%,
      #0358f7 60%,
      transparent 66.67%,
      transparent
    );
    background-size: 200% 100%;
    background-clip: text;
    color: transparent;
  }

  .chrome-text-animation {
    animation: chroma-text-animation 1.5s ease-in-out forwards;
  }
</style>
